* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* hero section styling */
.hero {
    background-color: #1f2937;
    height: fit-content;
    color: #e5e7eb;
    padding: 15px;
}
.hero_container {

    margin: 0 auto;

    padding: 0 80px;
    width: fit-content;
    
}
.hero_nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
.nav_logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav_links {
    font-size: 18px;
    color: #e5e7eb;
}
ul {
display: flex;
gap:10px;
list-style: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
.hero-main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    gap: 10px;
    height: fit-content;
    flex-wrap: wrap-reverse;
}

.hero_img {
    height: 160px;
    width: 490px;
}
.hero_text{
    width: 40%;
    height: fit-content;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero_main_text {
    font-size: 48px;
    font-weight: bolder;
}

.hero_secondary_text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}

.btn {
    background-color: #3882f6;
    padding: 7px 45px;
    border-radius: 7px;
}


/* information section */

.info_text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info_container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.cards {
    display: flex;
    gap: 30px;
}
.card_box {
    width: 150px;
    height: 150px;
    border: 5px #3882f6 solid;
    border-radius: 15px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.card_text {
    width: 150px;
    text-align: center;
    
}